{% extends "base.html" %}
{% block content %}
<!--{% load static %}-->


<body>
    <div class="nav-box">
        <nav class="navbar navbar-expand-lg">
            <h class="navbar-brand" href="#">Arnav Choudhury</h>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#interests">Interests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Other</a>
                    </li>
                </ul>
         
        </nav>
        <div class="row" style="text-align: center;">
            <div class="col-md-3">
                <i class="fa-brands fa-github btn btn-primary" aria-hidden="true" onclick="location.href='https://github.com/8coolguy';" style="cursor: pointer;"></i>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-linkedin btn btn-primary" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/arnav-choudhury-scu/';" style="cursor: pointer;"></i>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-instagram btn btn-primary" aria-hidden="true" onclick="location.href='https://www.instagram.com/notarnav123';" style="cursor: pointer;"></i>
            </div>
            <div class="col-md-3">
                <i class="fa-brands fa-strava btn btn-primary" aria-hidden="true" onclick="location.href='https://www.strava.com/athletes/arnavc';" style="cursor: pointer;"></i>
            </div>
            <!--
            <div class="col-md-2">
                H
            </div>
            <div class="col-md-2">
                H
            </div>
            -->
        </div>
    </div>

    <div class="row" id="about">
        <h2>About Me.
            <h3>
                Hi. My name is Arnav Choudhury. I go to SCU. Here are some of the projects I worked on or am working on. Not much to this site. Hope to add more to it to make it cooler. Trying to do that 
                <a href="https://indieweb.org/POSSE">POSSE</a> 
                thing. Reach me at arnavchoudhury20@mittymonarch.com or 8coolguy#3572 on discord or follow and message me on the socials. Website built with bootstrap,plain html, django, posgreSQL, and hosted on heroku. Thanks. Have a nice day.
            </h3>
        </h1>
    </div>
    <!--
    <div class="row" id="intro">
        <div class="row-sm">
          <p>Row1</p>
        </div>
        <div class="row-sm">
            <p>Row2</p>
        </div>
    </div>
    -->
    <div class="row" id ="projects">
        <h4>Projects</h4> 
            {% if projects %}
                {% for project in projects %}
                <div class="card-mb-6" onclick="location.href='{{project.url_link}}';" style="cursor: pointer;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href ="#">
                            <image class="media-object" src="{{project.image_path}}" width="100%" height="100%"></image>
                            </a>
                        </div>
                        <div class ="col-md-8">
                            <h4 class="card-title">{{project.title_str}}</h4>
                            <h6>Completed:{{project.date_completed}}</h6>
                            <p class="card-text">{{project.descrip_str}}</p>  
                        
                        
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No Projects to show right now.</p>
            {% endif %}   
    </div>

    <div class="row" id = "skills">
        <h4>Skills:</h4>
        {% if skills %}
            {% for skill in skills %}
                <div class=card-mb-3">
                    <div class="col-md-6">
                        <p>{{skill.skill_str}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Skills.</p>
        {% endif %}
        
    </div>

    <div class="row" id = "interests">
        <h4>Interests:</h4>
        {% if interests %}
            {% for interest in interests %}
                <div class=card-mb-3">
                    <div class="col-md-6">
                        <p>{{interest.interest}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <p>No Interests.</p>
        {% endif %}
    
    </div>

</body>
{% endblock content%}
