
.nav-box{
    /*background: url("../images/ocean.png");*/
    background-color: rgb(0, 0, 0);
}
.nav-item{
    size: 10%;
    color: greenyellow;
}
.navbar-brand{
    color: greenyellow;
}
#about{
    background-color: rgb(53, 0, 122);
    color: greenyellow;
}
#projects{
    background-color: rgb(37, 0, 122);
}
#skills{
    background-color: rgb(18, 0, 122);
}
#interests{
    background-color: rgb(0, 22, 122);
}
h6{
    color: white;
}
h4{
    color: greenyellow;
}
p{
    color: greenyellow;
}

/*
image{
    height: 5%;
    width:5%;
}*/
/*
div{
    outline: 3px dashed green;  
}
*/
